{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/videoHomepage.css' %}">
<!DOCTYPE html>
<html>
<head>
    
    <title>VideoLibrary</title>
</head>
<body>
<h1 class="center">N's Magnificent Video Library</h1>
<div class="tableContainer center scrollContent">
    <table>
        <!-- <caption>Movies</caption> -->
        <thead>
            <tr>
                <th>Serial Number</th>
                <th>Title</th>
                <th>Genre</th>
                <th>Director</th>
                <th>Year</th>
                <th>Length</th>
                <th>Lead Actor\Actress</th>
                <th>Items count</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>L.A. Confidential</td>
                <td>Crime/Drama</td>
                <td>Bob McBobby</td>
                <td>1997</td>
                <td>2h16m</td>
                <td>Bill Murray</td>
                <td>1</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Gays</td>
                <td>Drama</td>
                <td>Rob Jeremy</td>
                <td>2002</td>
                <td>1h16m</td>
                <td>Ron Jeremy</td>
                <td>10</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Monday's Child</td>
                <td>Comedy</td>
                <td>Martin Scorseze</td>
                <td>2007</td>
                <td>1h46m</td>
                <td>Bob Dylan</td>
                <td>3</td>
            </tr>
            <tr class="missing">
                <td>4</td>
                <td>Imaginary Facts</td>
                <td>Documentary</td>
                <td>Spinoza</td>
                <td>2007</td>
                <td>1h43m</td>
                <td>Donald Trump</td>
                <td>0</td>
            </tr>
            <tr>
                <td>5</td>
                <td>Jolly Moses</td>
                <td>Drama</td>
                <td>Madonna</td>
                <td>2019</td>
                <td>3h43m</td>
                <td>Madonna</td>
                <td>4</td>
            </tr>
            <tr>
                <td>6</td>
                <td>Turtles</td>
                <td>Philosophy</td>
                <td>Spinoza</td>
                <td>1975</td>
                <td>1h12m</td>
                <td>Linday Layke</td>
                <td>2</td>
            </tr>
            <tr class="missing">
                <td>7</td>
                <td>LoopHoles</td>
                <td>Sci-Fi</td>
                <td>Tarantino</td>
                <td>1995</td>
                <td>2h12m</td>
                <td>Leonardo DiCaorio</td>
                <td>0</td>
            </tr>
            <tr>
                <td>8</td>
                <td>Bannanas</td>
                <td>Sci-Fi</td>
                <td>Woody Ellen</td>
                <td>1993</td>
                <td>1h55m</td>
                <td>Mickey Mouse</td>
                <td>90</td>
            </tr>
            <tr class="missing">
                <td>9</td>
                <td>BFFs</td>
                <td>Comedy</td>
                <td>Bibi King</td>
                <td>2010</td>
                <td>1h35m</td>
                <td>Rubi Rivlin</td>
                <td>0</td></tr>
            <tr>
                <td>10</td>
                <td>The Secret</td>
                <td>Action</td>
                <td>Steven Spilberg</td>
                <td>2010</td>
                <td>1h35m</td>
                <td>Bruce Willis</td>
                <td>2</td></tr>
            </tr>
            <tr>
                <td>11</td>
                <td>An Awfully Big Adventure</td>
                <td>Drama</td>
                <td>Steven Spilberg</td>
                <td>2015</td>
                <td>2h25m</td>
                <td>Hue Grant</td>
                <td>2</td></tr>
            </tr>
            <tr>
                <td>12</td>
                <td>Sin City</td>
                <td>Action</td>
                <td>Christian Nolan</td>
                <td>2006</td>
                <td>2h14m</td>
                <td>Bruce Willis</td>
                <td>6</td></tr>
            </tr>
            <tr>
                <td>13</td>
                <td>Dogma</td>
                <td>Comedy</td>
                <td>Silent Bob</td>
                <td>2000</td>
                <td>1h54m</td>
                <td>Alan Rickman</td>
                <td>3</td></tr>
            </tr>
            <tr>
                <td>14</td>
                <td>Inglorious Bastards</td>
                <td>Action</td>
                <td>Quantin Tarantino</td>
                <td>2015</td>
                <td>2h5m</td>
                <td>Christoph Waltz</td>
                <td>20</td></tr>
            </tr>
            <tr class="missing">
                <td>15</td>
                <td>The Room</td>
                <td>Drama</td>
                <td>Tommy Wisau</td>
                <td>2001</td>
                <td>1h44m</td>
                <td>Tommy Wisau</td>
                <td>0</td></tr>
            </tr>
            <tr>
                <td>16</td>
                <td>The Final Destination</td>
                <td>Drama</td>
                <td>Steven Spilberg</td>
                <td>2001</td>
                <td>2h16m</td>
                <td>Tom Hanks</td>
                <td>2</td></tr>
            </tr>
            <tr>
                <td>17</td>
                <td>Nobody's Perfect</td>
                <td>Drama/Comedy</td>
                <td>Anna Etings</td>
                <td>2021</td>
                <td>1h16m</td>
                <td>Michelle Obama</td>
                <td>1</td></tr>
            </tr>
            <tr>
                <td>18</td>
                <td>I Know What You Did Last Summer</td>
                <td>Horror</td>
                <td>Scorpius De Lux</td>
                <td>2003</td>
                <td>1h11m</td>
                <td>Sarah Michelle Geller</td>
                <td>2</td></tr>
            </tr>
            <tr>
                <td>19</td>
                <td>Don't Speak to Strangers</td>
                <td>Horror</td>
                <td>Scorpius De Lux</td>
                <td>1999</td>
                <td>2h11m</td>
                <td>Mike Mayers</td>
                <td>5</td></tr>
            </tr>
            <tr>
                <td>20</td>
                <td>American Pie</td>
                <td>Comedy</td>
                <td>Spilberg</td>
                <td>1998</td>
                <td>2h19m</td>
                <td>Ben Aflek</td>
                <td>69</td></tr>
            </tr>
        </tbody>
    </table>
</div>

</body>
</html>
